/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.env.*.php
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Logs and other files
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*.log
/storage/debugbar/*.json
/storage/app/public/
!.gitignore

# IDE and OS files
.DS_Store
.idea/
.vscode/
Thumbs.db

# Laravel Nova
/nova-components/*
!/nova-components/.gitkeep

# Composer and runtime data
composer.lock
/bootstrap/cache/*
/public/build/*
/public/css/
/public/js/

# Vagrant
/.vagrant

# Database files
*.sqlite
*.sqlite3
/database/database.sqlite